body {
     background-image: linear-gradient(to right, #9966ff, #9900cc);
}

#newPasswordDiv {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-image: linear-gradient(to left, #cc0099, #b82e8a);
    top: 0;
    display: inline;
}

#newPasswordDiv > form > label, #newPasswordDiv > form > input {
    width: 90%;
    font-size: 1.5vmax;
    margin: 15px;
}

#newPasswordDiv > form > label {
    position: relative;
    top: 50%;
    left: 5%;
    transform: translate(-20%, -50%);
    display: inline;
    height: 5%;
    margin-bottom: 10px;
}

#newPasswordDiv > form > input {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#newPasswordDiv > form {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#errorMessage {
    color: rgb(94, 2, 2);
}
