* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffcc99;
}

.root {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    width: 40%;
    height: 40%;
    background-image: linear-gradient(to right,#ccff33, #ff9933);
    border: 5px solid black;
    border-radius: 18px;
}

.root > form > label {
    font-size: 2vmax;
    margin: 3px;
}

.root > form > input {
    font-size: 1.8vmax;
    padding: 10px;
    margin: 12px;
}

#submitButton {
    position: relative;
    left: 50%;
    transform: translate(-50%, 70%);
    text-align: center;
}

#submitButtonLoginForm {
    position: relative;
    left: 30%;
    transform: translate(-50%, 15%);
    text-align: center;
}

#newAccountButton {
    width: 25%;
    height: 23%;
    font-size: 1.8vmax;
    position: relative;
    transform: translate(250%, -80%);
    text-align: center;
}

#titleText {
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.2vmax;
    font-weight: bold;
    font-style: italic;
}

#passwordHint {
    position: absolute;
    font-size: 0.8vmax;
    display: inline;
    width: 50%;
    transform: translate(50%, -50%);
    color: rgb(235, 17, 17);
}

#forgot {
    position: absolute;
    display: inline;
    width: 30%;
    transform: translate(-70%, 400%);
}