<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    </head>

    <body>
       <div>
        <form id="newPasswordForm" action="/newPassword" method="POST">
            <label for="usernameInput">Enter your username ("This should be a valid username!")</label>
            <input type="text" name="usernameInput" />
            <label for="newPassword">Enter your new password</label>
            <input type="password" name="newPassword"/>
            <label for="confirmPassword">Please confirm your new password</label>
            <input type="password" name="confirmPassword" />
            <input type="submit" />
        </form>
       </div>
        
    </body>
</html>