<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="newPassword.css">
    </head>

    <body>
       <div id="newPasswordDiv">
        <form id="newPasswordForm" action="/" method="POST">
            <label for="usernameInput">Enter your username ("This should be a valid username!")</label>
            <input type="text" name="usernameInput" />
            <label for="newPassword">Enter your new password</label>
            <input type="password" name="newPassword"/>
            <label for="confirmPassword">Please confirm your new password</label>
            <input type="password" name="confirmPassword" />
            <input type="submit" />

            <p id="errorMessage">Error : <%= objectOfError.message %> </p>
        </form>
       </div>
        
    </body>
</html>